
<div class="sidebar">
	<nav>
		<ul>
			<li>
				<a routerLink="dashboard" [class.activated]="currentUrl == '/dashboard'">
					<i class="fas fa-columns"></i>
				</a>
			</li>
			<li>
				<a routerLink="users" [class.activated]="currentUrl == '/users'">
					<i class="fas fa-user-friends"></i>
				</a>
			</li>
			
			<li>
				<a routerLink="charts" [class.activated]="currentUrl == '/charts'">
					<i class="fas fa-chart-pie"></i>
				</a>
			</li>
			<li>
				<a routerLink="forms" [class.activated]="currentUrl == '/forms'">
					<i class="fas fa-file-alt"></i>
				</a>
			</li>
			<li>
				<a routerLink="tables" [class.activated]="currentUrl == '/tables'">
					<i class="fas fa-table"></i>
				</a>
			</li>
			<li>
				<a routerLink="maps" [class.activated]="currentUrl == '/maps'">
					<i class="fas fa-map-marker-alt"></i>
				</a>
			</li>
		</ul>
	</nav>
</div>